.formulario{
    width: 100%;
    height: min-content;
    margin-right: 3rem;
    justify-content: space-around;
    display: flex;
}

.banco{
}

.banco-formulario{
    width: 100%;
}
    .banco-formulario div{
        width: 100%;
    }

    .banco div{
        width: 100%;
    }

.boton{
    background:#fff;
    margin-bottom: 5rem;
}

.boton-enviar{
    width: fit-content;
    background:#fff;
    background-color: white !important;
    border-color:white !important;
}

.contenedor{
    margin: 3rem;
}

.datos-formulario{
    width: 100%;
    padding: 50px;
}

    .datos-formulario div{
        width: 100%;
        
    }

.div-banco-formulario{
    width: 100%;
    padding: 50px;
}

.input-field{
    border: none !important;
    border-bottom: 2px solid #43368d !important;
}

.input-field-planilla{
    color: #ffed2f !important;
    background-color: #43368d !important;
}

.enviar-datos{
    width: 150px;
}

.label-form{
    border-radius:1rem;
    border:solid;
    border-color:#43368d;
    padding: 3px;
    width:40%;
}
.label-multiple-choice{
    color: #fff !important;
    font-weight: 600;
}

.option-choice{
    background: #43368d !important;
}
.text-form{
    background-color: #43368d !important;
    color: #ffed2f !important;
}
